body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
      .task-creation-box {
        max-width: 500px;
        margin: 0 auto;
        background-color: rgb(188, 186, 185);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      #task-input {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-bottom: 8px;
      }
  
      #add-task-button {
        width: 100%;
        max-width: 100px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
  
  #add-task-button:hover {
    background-color: #45a049;
  }
  
  #task-list {
    margin-top: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(171, 216, 178);
    padding: 10px;
    
  }
  
  #task-list div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom: 30px solid #eee;
    background-color: #ffffff;
    margin-bottom: 8px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  }
      #task-list input[type="checkbox"] {
        margin-right: 10px;
      }
  
      #task-list title {
        flex-grow: 1;
        display: inline-block;
        font-weight: normal;
        font-size: 1em;
      }
  
      #task-list div {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        border-bottom: 1px solid #eee;
        transition: background-color 0.3s ease;
        margin-bottom: 5px;
      }

      #task-list title[style*="line-through"] {
        color: #888;
      }
  
      #task-list button {
        background-color: transparent;
        color: #faf8f8;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
      }
  
      #task-list button:hover {
        color: #d32f2f;
      }
  
      #task-list div:has(button:hover) {
        background-color: #b52036;
      }
